.secondary-tools .secondary-tools-heading.mf-title {
  display: inline;
}
#mini-form form {
  position: relative;
}
#mini-form fieldset:first-of-type ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#mini-form fieldset:first-of-type ul li {
  width: 100%;
}
@media all and (min-width: 1025px) {
  .full-width #mini-form fieldset ul {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .full-width #mini-form fieldset:first-of-type {
    width: calc(100% - 128px);
  }
  .full-width #mini-form li {
    margin: 0px 5px;
  }
  .full-width #mini-form li:first-of-type {
    margin-left: 0px;
  }
  .full-width #mini-form li:last-of-type {
    margin-right: 0px;
  }    
  .full-width #mini-form input[type="text"], .full-width #mini-form select {
    width: 100%;
  }
  .full-width #mini-form select {
    min-width: 180px
  }
}
@media all and (min-width: 801px) {
  .full-width #mini-form fieldset:last-of-type {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
}
@media all and (min-width: 801px) and (max-width: 1024px) {
  #mini-form fieldset:first-of-type ul li {
    width: 100%;
  }
  .full-width #mini-form fieldset:first-of-type li {
    width: calc(25% - 8px);
    margin-left: 10px;
  }
  .full-width #mini-form fieldset:first-of-type li:first-of-type {
    margin-left: 0px;
  }
  .full-width #mini-form fieldset:first-of-type li:last-of-type {
    width: calc(100% - 128px);
    margin: 0px;
  }
}
@media all and (max-width: 800px) {
  #mini-form .secondary-tools fieldset:first-of-type ul li {
    width: calc(50% - 5px);
  }
  #mini-form .secondary-tools fieldset:first-of-type ul li:nth-of-type(odd) {
    margin-left: 0px;
  }
  #mini-form .secondary-tools fieldset:first-of-type ul li:last-of-type {
    width: calc(100% - 128px);
    margin: 0px;
  }
  #mini-form fieldset:last-of-type {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }  
}
@media all and (max-width: 570px) {
  .secondary-tools .secondary-tools-heading.mf-title {
    display: block;
    text-align: left;
  }
  #mini-form .secondary-tools fieldset:first-of-type ul li {
    width: 100%;
    margin: 0px;
  }
  #mini-form .secondary-tools fieldset:first-of-type ul li:last-of-type {
    width: 100%;
  }
  #mini-form fieldset:last-of-type {
    position: static;
  }
} 