.mc-title, .mc-subtitle {
  text-align: center;
}

.main-content-wrap {
  max-width: 85%;
  margin: 0 auto;
}
.inner-main-content:nth-child(odd) .image-wrap {
  float: right;
  padding-left: 20px;
}
.inner-main-content:nth-child(even) .image-wrap {
  float: left;
  padding-right: 20px;
}
@media all and (max-width: 800px) {
  .main-content-wrap {
    max-width: 100%;
  }
}
@media all and (max-width: 570px) {
  .inner-main-content:nth-child(odd) .image-wrap,
  .inner-main-content:nth-child(even) .image-wrap {
    float: right;
    padding: 0px 0px 10px 10px;
  }
  .image-wrap img {
    width: 120px;
    height: auto;
  }
}